/*{
	margin:0px;
	padding:0px;
	
}

.contglobal{
	display: flex;
	display:-webkit-flex;	
    flex-flow: row ;
    -webkit-flex-flow: row;
	
}

#caja1{
	order:2;
	background-color:blue;
	width:100%;
	height:50px;
	
	
}


#caja2{
	order:1;
	background-color:orange;
	width:100%;
	height:50px;
	
}

#caja3{
	order:1;
	background-color:darkgreen;
	width:100%;
	height:50px;
	order:3;
}


@media screen and (min-width:320px)
{
	 header
	{
	   width:100%;
	   height:50px;
	   background-color:yellow;	
		
	}
	
	
}


@media screen and (min-width:360px)
{
	 header
	{
	   width:100%;
	   height:50px;
	   background-color:beige;	
		
	}
	
	
}


@media screen and (min-width:480px)
{
	 header
	{
	   width:100%;
	   height:50px;
	   background-color:green;	
		
	}
	
	
}


@media screen and (min-width:720px)
{
	 header
	{
	   width:100%;
	   height:50px;
	   background-color:orange;	
		
	}
	
	
}



@media screen and (min-width:1024px)
{
	 header
	{
	   width:100%;
	   height:50px;
	   background-color:red;	
		
	}
	
	
}
*/